In [342]:
# First run src/data_sources/get_game_data.py to get the csv in your working directory.
import pandas as pd
import json
import ast
import numpy as np
import math

In [339]:
# Import csv into dataframe.
raw_games_df = pd.read_csv('games.csv')
raw_games_df.head()

,Unnamed: 0,id,age_ratings,aggregated_rating,aggregated_rating_count,first_release_date,follows,game_modes,genres,involved_companies,name,rating,rating_count,slug,total_rating,version_parent
0,0,3,"[{'id': 3, 'category': 1, 'rating': 11}, {'id'...",83.000000,3.0,1085443200,45.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 5, 'name': 'Shooter'}, {'id': 13, 'nam...","[{'id': 489, 'company': {'id': 25, 'name': 'Io...",Thief: Deadly Shadows,82.011982,111.0,thief-deadly-shadows,82.505991,NaN
1,1,4,"[{'id': 2930, 'category': 1, 'rating': 11}, {'...",63.642857,17.0,1393286400,96.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 5, 'name': 'Shooter'}, {'id': 31, 'nam...","[{'id': 6992, 'company': {'id': 27, 'name': 'E...",Thief,70.589275,266.0,thief,67.116066,NaN
2,2,11,"[{'id': 4912, 'category': 1, 'rating': 11}, {'...",72.333333,4.0,1100563200,167.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 12, 'name': 'Role-playing (RPG)'}]","[{'id': 473, 'company': {'id': 117, 'name': 'T...",Vampire: The Masquerade - Bloodlines,86.532724,499.0,vampire-the-masquerade-bloodlines,79.433029,NaN
3,3,16,"[{'id': 11648, 'category': 1, 'rating': 11}, {...",81.900000,15.0,1287446400,544.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 5, 'name': 'Shooter'}, {'id': 12, 'nam...","[{'id': 3714, 'company': {'id': 47, 'name': 'O...",Fallout: New Vegas,87.216996,1540.0,fallout-new-vegas,84.558498,NaN
4,4,18,"[{'id': 4498, 'category': 1, 'rating': 11}, {'...",73.800000,3.0,995846400,495.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 5, 'name': 'Shooter'}]","[{'id': 801, 'company': {'id': 204, 'name': 'G...",Max Payne,85.958331,1401.0,max-payne,79.879166,NaN

In [331]:
raw_games_df.shape

(6349, 16)

In [397]:
# Write function which extracts the ESRB rating from each JSON.
def is_mature_esrb_rating(str_list_of_dicts):

    # Check for nan values
    if str_list_of_dicts != str_list_of_dicts:
        return

    # Convert string representation of list of dicts to list of dicts.
    list_of_dicts = ast.literal_eval(str_list_of_dicts)

    esrb_dict = {
        "6": "RP",
        "7": "EC",
        "8": "E",
        "9": "E10",
        "10": "T",
        "11": "M"
    }

    # Loop through dictionaries in list
    for dictionary in list_of_dicts:

        if not isinstance(dictionary, dict):
            return math.nan

        try:
            # If rating is from ESRB
            if dictionary.get('category') == 1:

                if esrb_dict[str(dictionary.get('rating'))] == 'M':
                    return True
                
                else:
                    return False

        except KeyError:
            print('ESRB rating id not in dictionary.')
            return math.nan

In [398]:
raw_games_df['mature'] = raw_games_df['age_ratings'].map(is_mature_esrb_rating)

ESRB rating id not in dictionary.

In [401]:
print(raw_games_df.shape)
raw_games_df.head()

(6349, 17)

,Unnamed: 0,id,age_ratings,aggregated_rating,aggregated_rating_count,first_release_date,follows,game_modes,genres,involved_companies,name,rating,rating_count,slug,total_rating,version_parent,mature
0,0,3,"[{'id': 3, 'category': 1, 'rating': 11}, {'id'...",83.000000,3.0,1085443200,45.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 5, 'name': 'Shooter'}, {'id': 13, 'nam...","[{'id': 489, 'company': {'id': 25, 'name': 'Io...",Thief: Deadly Shadows,82.011982,111.0,thief-deadly-shadows,82.505991,NaN,True
1,1,4,"[{'id': 2930, 'category': 1, 'rating': 11}, {'...",63.642857,17.0,1393286400,96.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 5, 'name': 'Shooter'}, {'id': 31, 'nam...","[{'id': 6992, 'company': {'id': 27, 'name': 'E...",Thief,70.589275,266.0,thief,67.116066,NaN,True
2,2,11,"[{'id': 4912, 'category': 1, 'rating': 11}, {'...",72.333333,4.0,1100563200,167.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 12, 'name': 'Role-playing (RPG)'}]","[{'id': 473, 'company': {'id': 117, 'name': 'T...",Vampire: The Masquerade - Bloodlines,86.532724,499.0,vampire-the-masquerade-bloodlines,79.433029,NaN,True
3,3,16,"[{'id': 11648, 'category': 1, 'rating': 11}, {...",81.900000,15.0,1287446400,544.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 5, 'name': 'Shooter'}, {'id': 12, 'nam...","[{'id': 3714, 'company': {'id': 47, 'name': 'O...",Fallout: New Vegas,87.216996,1540.0,fallout-new-vegas,84.558498,NaN,True
4,4,18,"[{'id': 4498, 'category': 1, 'rating': 11}, {'...",73.800000,3.0,995846400,495.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 5, 'name': 'Shooter'}]","[{'id': 801, 'company': {'id': 204, 'name': 'G...",Max Payne,85.958331,1401.0,max-payne,79.879166,NaN,True

In [405]:
# Write function which extracts if the game is a single player game.
def is_single_player(str_list_of_dicts):

    # Check for nan values
    if str_list_of_dicts != str_list_of_dicts:
        return

    # Convert string representation of list of dicts to list of dicts.
    list_of_dicts = ast.literal_eval(str_list_of_dicts)

    # Loop through dictionaries in list
    for dict in list_of_dicts:

        # If rating is from ESRB
        if dict.get('name') == 'Single player':
            return True
                
        else:
            return False

In [406]:
# Write function which extracts if the game is a multiplayer game.
def is_multiplayer(str_list_of_dicts):

    # Check for nan values
    if str_list_of_dicts != str_list_of_dicts:
        return

    # Convert string representation of list of dicts to list of dicts.
    list_of_dicts = ast.literal_eval(str_list_of_dicts)

    # Loop through dictionaries in list
    for dict in list_of_dicts:

        # If rating is from ESRB
        if dict.get('name') == 'Multiplayer':
            return True
                
        else:
            return False

In [407]:
raw_games_df['single_player'] = raw_games_df['game_modes'].map(is_single_player)

In [408]:
raw_games_df.head()

,Unnamed: 0,id,age_ratings,aggregated_rating,aggregated_rating_count,first_release_date,follows,game_modes,genres,involved_companies,name,rating,rating_count,slug,total_rating,version_parent,mature,single_player
0,0,3,"[{'id': 3, 'category': 1, 'rating': 11}, {'id'...",83.000000,3.0,1085443200,45.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 5, 'name': 'Shooter'}, {'id': 13, 'nam...","[{'id': 489, 'company': {'id': 25, 'name': 'Io...",Thief: Deadly Shadows,82.011982,111.0,thief-deadly-shadows,82.505991,NaN,True,True
1,1,4,"[{'id': 2930, 'category': 1, 'rating': 11}, {'...",63.642857,17.0,1393286400,96.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 5, 'name': 'Shooter'}, {'id': 31, 'nam...","[{'id': 6992, 'company': {'id': 27, 'name': 'E...",Thief,70.589275,266.0,thief,67.116066,NaN,True,True
2,2,11,"[{'id': 4912, 'category': 1, 'rating': 11}, {'...",72.333333,4.0,1100563200,167.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 12, 'name': 'Role-playing (RPG)'}]","[{'id': 473, 'company': {'id': 117, 'name': 'T...",Vampire: The Masquerade - Bloodlines,86.532724,499.0,vampire-the-masquerade-bloodlines,79.433029,NaN,True,True
3,3,16,"[{'id': 11648, 'category': 1, 'rating': 11}, {...",81.900000,15.0,1287446400,544.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 5, 'name': 'Shooter'}, {'id': 12, 'nam...","[{'id': 3714, 'company': {'id': 47, 'name': 'O...",Fallout: New Vegas,87.216996,1540.0,fallout-new-vegas,84.558498,NaN,True,True
4,4,18,"[{'id': 4498, 'category': 1, 'rating': 11}, {'...",73.800000,3.0,995846400,495.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 5, 'name': 'Shooter'}]","[{'id': 801, 'company': {'id': 204, 'name': 'G...",Max Payne,85.958331,1401.0,max-payne,79.879166,NaN,True,True

In [409]:
raw_games_df['multiplayer'] = raw_games_df['game_modes'].map(is_multiplayer)

In [410]:
raw_games_df.head()

,Unnamed: 0,id,age_ratings,aggregated_rating,aggregated_rating_count,first_release_date,follows,game_modes,genres,involved_companies,name,rating,rating_count,slug,total_rating,version_parent,mature,single_player,multiplayer
0,0,3,"[{'id': 3, 'category': 1, 'rating': 11}, {'id'...",83.000000,3.0,1085443200,45.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 5, 'name': 'Shooter'}, {'id': 13, 'nam...","[{'id': 489, 'company': {'id': 25, 'name': 'Io...",Thief: Deadly Shadows,82.011982,111.0,thief-deadly-shadows,82.505991,NaN,True,True,False
1,1,4,"[{'id': 2930, 'category': 1, 'rating': 11}, {'...",63.642857,17.0,1393286400,96.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 5, 'name': 'Shooter'}, {'id': 31, 'nam...","[{'id': 6992, 'company': {'id': 27, 'name': 'E...",Thief,70.589275,266.0,thief,67.116066,NaN,True,True,False
2,2,11,"[{'id': 4912, 'category': 1, 'rating': 11}, {'...",72.333333,4.0,1100563200,167.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 12, 'name': 'Role-playing (RPG)'}]","[{'id': 473, 'company': {'id': 117, 'name': 'T...",Vampire: The Masquerade - Bloodlines,86.532724,499.0,vampire-the-masquerade-bloodlines,79.433029,NaN,True,True,False
3,3,16,"[{'id': 11648, 'category': 1, 'rating': 11}, {...",81.900000,15.0,1287446400,544.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 5, 'name': 'Shooter'}, {'id': 12, 'nam...","[{'id': 3714, 'company': {'id': 47, 'name': 'O...",Fallout: New Vegas,87.216996,1540.0,fallout-new-vegas,84.558498,NaN,True,True,False
4,4,18,"[{'id': 4498, 'category': 1, 'rating': 11}, {'...",73.800000,3.0,995846400,495.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 5, 'name': 'Shooter'}]","[{'id': 801, 'company': {'id': 204, 'name': 'G...",Max Payne,85.958331,1401.0,max-payne,79.879166,NaN,True,True,False

In [419]:
# Write function which extracts the developer id.
def get_developer_id(str_list_of_dicts):

    # Check for nan values
    if str_list_of_dicts != str_list_of_dicts:
        return

    # Get json of company information
    with open('companies.json') as json_file:
        companies_dict = json.load(json_file)

    # Get all igdb ids of involved companies.
    igdb_ids_list = []
    for company in companies_dict:
        igdb_ids_list = igdb_ids_list + company['igdb_ids']

    # Convert string representation of list of dicts to list of dicts.
    list_of_dicts = ast.literal_eval(str_list_of_dicts)

    # Create a list of all publisher ids which are in study.
    result = [d['company']['id'] for d in list_of_dicts if (d['company']['id'] in igdb_ids_list and d['developer'] == True)]
    return result

In [420]:
# Write function which extracts the developer id.
def get_publisher_id(str_list_of_dicts):

    # Check for nan values
    if str_list_of_dicts != str_list_of_dicts:
        return

    # Get json of company information
    with open('companies.json') as json_file:
        companies_dict = json.load(json_file)

    # Get all igdb ids of involved companies.
    igdb_ids_list = []
    for company in companies_dict:
        igdb_ids_list = igdb_ids_list + company['igdb_ids']

    # Convert string representation of list of dicts to list of dicts.
    list_of_dicts = ast.literal_eval(str_list_of_dicts)

    # Create a list of all publisher ids which are in study.
    result = [d['company']['id'] for d in list_of_dicts if (d['company']['id'] in igdb_ids_list and d['publisher'] == True)]

    return result

In [421]:
raw_games_df['developer_id'] = raw_games_df['involved_companies'].map(get_developer_id)
raw_games_df['publisher_id'] = raw_games_df['involved_companies'].map(get_publisher_id)

In [422]:
raw_games_df.head()

,Unnamed: 0,id,age_ratings,aggregated_rating,aggregated_rating_count,first_release_date,follows,game_modes,genres,involved_companies,...,rating,rating_count,slug,total_rating,version_parent,mature,single_player,multiplayer,developer_id,publisher_id
0,0,3,"[{'id': 3, 'category': 1, 'rating': 11}, {'id'...",83.000000,3.0,1085443200,45.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 5, 'name': 'Shooter'}, {'id': 13, 'nam...","[{'id': 489, 'company': {'id': 25, 'name': 'Io...",...,82.011982,111.0,thief-deadly-shadows,82.505991,NaN,True,True,False,[],[26]
1,1,4,"[{'id': 2930, 'category': 1, 'rating': 11}, {'...",63.642857,17.0,1393286400,96.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 5, 'name': 'Shooter'}, {'id': 31, 'nam...","[{'id': 6992, 'company': {'id': 27, 'name': 'E...",...,70.589275,266.0,thief,67.116066,NaN,True,True,False,[],[26]
2,2,11,"[{'id': 4912, 'category': 1, 'rating': 11}, {'...",72.333333,4.0,1100563200,167.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 12, 'name': 'Role-playing (RPG)'}]","[{'id': 473, 'company': {'id': 117, 'name': 'T...",...,86.532724,499.0,vampire-the-masquerade-bloodlines,79.433029,NaN,True,True,False,[],"[66, 1]"
3,3,16,"[{'id': 11648, 'category': 1, 'rating': 11}, {...",81.900000,15.0,1287446400,544.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 5, 'name': 'Shooter'}, {'id': 12, 'nam...","[{'id': 3714, 'company': {'id': 47, 'name': 'O...",...,87.216996,1540.0,fallout-new-vegas,84.558498,NaN,True,True,False,[],[248]
4,4,18,"[{'id': 4498, 'category': 1, 'rating': 11}, {'...",73.800000,3.0,995846400,495.0,"[{'id': 1, 'name': 'Single player'}]","[{'id': 5, 'name': 'Shooter'}]","[{'id': 801, 'company': {'id': 204, 'name': 'G...",...,85.958331,1401.0,max-payne,79.879166,NaN,True,True,False,[305],[139]

In [430]:
def get_stock_id_from_igdb_id(id_list):

    # If id_list is empty return np.nan.
    if id_list == False:
        return np.nan

    # Get json of company information
    with open('companies.json') as json_file:
        companies_dict = json.load(json_file)

    # Placeholder values
    stock_id = np.nan
    multiple_id_list = []

    # Loop through igdb_ids in list of developer/publisher ids.
    for igdb_id in id_list:
        # Loop through companies json
        for company in companies_dict:
            # If the igdb_id matches a company from companies json.
            if igdb_id in company['igdb_ids']:
                # Continue if the stock_id is the same as the one already stored.
                if company['stock_id'] == stock_id:
                    continue
                
                # If stock_id not np.nan (placeholder value) and not equal to 
                # stock_id from companies json.
                elif (not np.isnan(stock_id) and (company['stock_id'] != stock_id)):
                    multiple_id_list.append(company['stock_id'])
                    print("Two stock ids for one game " + str(stock_id) + " " + str(company['stock_id']))

                # Set stock_id to the one found in companies json.
                else:
                    stock_id = company['stock_id']

    print(stock_id)
    return stock_id

In [431]:
raw_games_df['developer_stock_id'] = raw_games_df['developer_id'].map(get_stock_id_from_igdb_id)

nan
nan
nan
nan
FI4000251897
FI4000251897
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
GB00BBT32N39
nan
nan
nan
nan
nan
GB00BBT32N39
nan
nan
nan
SE0005992831
nan
nan
nan
nan
nan
nan
nan
nan
012141
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
KR7095660007
nan
nan
JP3164630000
nan
nan
nan
nan
nan
nan
JP3164630000
JP3164630000
nan
nan
JP3164630000
nan
JP3164630000
nan
JP3164630000
JP3164630000
JP3164630000
nan
JP3164630000
JP3164630000
nan
nan
nan
SE0005992831
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3218900003
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
012141
nan
nan
nan
nan
SE0008294953
SE0008294953
nan
nan
nan
nan
nan
012141
012141
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
SE0008294953
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3218900003
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3218900003
nan
JP3218900003
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
SE0005992831
nan
nan
nan
nan
nan
nan
GB00BYVX2X20
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
GB00BYVX2X20
nan
nan
nan
nan
FI4000251897
NO0010887029
JP3218900003
nan
JP3756600007
nan
JP3756600007
JP3756600007
nan
JP3218900003
nan
JP3756600007
JP3756600007
nan
nan
nan
nan
nan
JP3756600007
nan
nan
nan
JP3300200007
JP3300200007
nan
JP3300200007
JP3300200007
JP3300200007
JP3300200007
JP3300200007
JP3300200007
JP3300200007
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3164630000
JP3164630000
SE0005992831
nan
nan
nan
nan
JP3778630008
JP3778630008
nan
nan
JP3778630008
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
SE0005992831
nan
nan
JP3164630000
SE0005992831
SE0005992831
JP3218900003
JP3778630008
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3218900003
nan
nan
nan
JP3435000009
JP3218900003
JP3218900003
JP3218900003
nan
nan
nan
nan
nan
nan
nan
nan
JP3300200007
JP3300200007
JP3300200007
JP3300200007
nan
nan
nan
nan
nan
nan
nan
JP3756600007
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3164630000
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3218900003
nan
nan
nan
nan
nan
JP3300200007
nan
nan
nan
nan
nan
JP3300200007
JP3756600007
nan
JP3756600007
nan
JP3756600007
nan
JP3756600007
nan
nan
nan
nan
nan
nan
JP3218900003
nan
nan
JP3218900003
JP3218900003
nan
JP3218900003
JP3218900003
JP3218900003
JP3218900003
JP3218900003
nan
JP3218900003
JP3218900003
JP3218900003
JP3218900003
nan
JP3218900003
nan
nan
JP3218900003
JP3218900003
JP3218900003
JP3218900003
nan
nan
JP3218900003
JP3218900003
JP3218900003
JP3218900003
JP3218900003
JP3218900003
JP3218900003
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3164630000
nan
JP3164630000
JP3164630000
nan
nan
JP3164630000
FR0013331212
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3218900003
JP3218900003
nan
nan
nan
nan
nan
nan
nan
nan
nan
NO0010887029
JP3218900003
nan
nan
nan
nan
nan
NO0010887029
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
SE0008294953
SE0008294953
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3687000004
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
FR0012419307
nan
nan
nan
JP3756600007
JP3756600007
nan
nan
nan
nan
JP3756600007
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3218900003
JP3944350002
nan
nan
nan
JP3218900003
nan
nan
JP3300200007
nan
nan
JP3283460008
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3756600007
nan
JP3756600007
nan
JP3756600007
nan
nan
JP3756600007
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3164630000
JP3164630000
nan
nan
JP3164630000
nan
nan
nan
JP3300200007
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3778630008
JP3778630008
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
016721
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
GB00BBT32N39
nan
nan
nan
nan
JP3300200007
JP3300200007
GB00BBT32N39
nan
nan
nan
nan
nan
nan
nan
GB00BBT32N39
nan
nan
nan
nan
GB00BYVX2X20
nan
nan
nan
nan
nan
nan
nan
JP3164630000
nan
nan
nan
JP3300200007
nan
GB00BBT32N39
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
016721
nan
nan
nan
JP3756600007
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3756600007
JP3756600007
nan
nan
nan
JP3860230006
JP3860230006
JP3860230006
JP3860230006
JP3860230006
JP3860230006
JP3860230006
JP3860230006
JP3860230006
JP3860230006
nan
JP3756600007
nan
nan
JP3756600007
nan
JP3756600007
nan
nan
JP3756600007
nan
nan
nan
nan
nan
nan
nan
JP3300200007
nan
nan
nan
nan
nan
nan
nan
nan
nan
FI4000251897
nan
nan
JP3944350002
nan
nan
nan
JP3218900003
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3218900003
JP3300200007
nan
nan
nan
nan
nan
nan
JP3300200007
JP3300200007
JP3300200007
nan
JP3218900003
nan
nan
nan
nan
nan
nan
JP3300200007
JP3300200007
JP3300200007
nan
JP3300200007
JP3300200007
nan
nan
nan
nan
nan
nan
JP3756600007
nan
nan
nan
JP3218900003
nan
nan
016721
nan
nan
nan
nan
JP3300200007
nan
nan
JP3218900003
nan
JP3300200007
JP3218900003
JP3300200007
nan
JP3756600007
nan
nan
nan
nan
nan
nan
nan
JP3778630008
JP3164630000
JP3164630000
JP3419050004
nan
nan
nan
nan
nan
JP3300200007
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3300200007
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3300200007
JP3300200007
nan
FR0012419307
FR0012419307
nan
nan
nan
nan
nan
nan
nan
nan
nan
GB00BYVX2X20
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3300200007
JP3944350002
JP3944350002
JP3944350002
JP3944350002
nan
nan
nan
nan
nan
JP3300200007
nan
nan
JP3300200007
JP3300200007
nan
JP3300200007
nan
nan
JP3300200007
nan
nan
nan
JP3300200007
JP3300200007
JP3778630008
JP3778630008
nan
nan
nan
nan
nan
JP3860230006
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
18040
nan
18040
nan
nan
nan
nan
JP3860230006
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3944350002
nan
nan
nan
JP3214350005
nan
JP3778630008
JP3756600007
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
IT0001469995
nan
nan
nan
nan
nan
nan
nan
nan
016721
016721
016721
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3860230006
nan
nan
nan
nan
nan
nan
nan
nan
JP3860230006
nan
nan
JP3300200007
nan
nan
nan
nan
nan
nan
nan
JP3300200007
JP3300200007
nan
nan
nan
nan
nan
nan
JP3778630008
nan
nan
nan
nan
nan
nan
nan
nan
016721
nan
nan
nan
nan
nan
nan
nan
nan
JP3944350002
JP3944350002
nan
JP3687000004
nan
nan
nan
nan
nan
nan
nan
JP3860230006
nan
nan
nan
nan
nan
nan
nan
nan
JP3218900003
nan
016721
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3419050004
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3778630008
nan
JP3778630008
JP3778630008
nan
JP3756600007
nan
nan
nan
GB00BYVX2X20
GB00BYVX2X20
JP3944350002
JP3944350002
JP3944350002
JP3944350002
JP3944350002
JP3944350002
nan
nan
nan
JP3218900003
nan
nan
nan
nan
JP3778630008
nan
JP3756600007
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3778630008
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
PLCTINT00018
nan
nan
JP3283460008
nan
nan
nan
nan
nan
GB00BYVX2X20
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3300200007
JP3300200007
JP3300200007
JP3300200007
JP3300200007
JP3300200007
nan
nan
nan
nan
nan
nan
JP3300200007
nan
nan
nan
nan
nan
nan
nan
JP3218900003
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
012141
012141
nan
nan
nan
nan
nan
012141
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3218900003
nan
nan
nan
nan
016721
nan
GB00BBT32N39
nan
nan
nan
nan
nan
GB00BYVX2X20
GB00BYVX2X20
nan
nan
18040
GB00BYVX2X20
JP3748520008
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3756600007
JP3300200007
nan
JP3756600007
JP3756600007
nan
JP3218900003
JP3944350002
JP3944350002
nan
nan
nan
JP3778630008
nan
JP3944350002
JP3778630008
nan
JP3778630008
JP3778630008
nan
nan
nan
nan
JP3756600007
nan
nan
nan
nan
nan
nan
JP3218900003
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
016721
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3300200007
nan
nan
nan
nan
nan
nan
nan
JP3300200007
JP3687000004
nan
nan
nan
nan
nan
nan
nan
JP3300200007
nan
nan
nan
JP3283460008
JP3419050004
nan
nan
nan
nan
JP3826770004
nan
nan
nan
nan
nan
nan
JP3300200007
nan
nan
JP3756600007
nan
nan
nan
nan
nan
JP3778630008
nan
nan
nan
nan
nan
nan
JP3283460008
nan
nan
JP3419050004
nan
nan
JP3164630000
JP3826770004
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3300200007
JP3300200007
JP3300200007
JP3300200007
JP3300200007
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3778630008
JP3778630008
JP3778630008
nan
nan
nan
nan
nan
nan
nan
nan
JP3164630000
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
JP3218900003
nan
nan
nan
GB00BYVX2X20
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [425]:
raw_games_df['publisher_stock_id'] = raw_games_df['publisher_id'].map(get_stock_id_from_igdb_id)

[]
[]

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [324]:
raw_games_df.shape

(7, 23)