In [21]:
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
# Import stock prices of involved companies
stock_prices_df = pd.read_csv('/Users/connor.stevens/Downloads/stock_prices.csv')
stock_prices_df.head()

,gvkey,iid,datadate,conm,cshoc,prccd,qunit,divrc,divrcgross,trfd,exchg,isin,fic,loc,conml,sic,spcindcd,spcseccd,ipodate
0,9818,01W,2000-10-02,SONY GROUP CORPORATION,909871353.0,10800.0,1.0,NaN,NaN,1.125595,264,JP3435000009,JPN,JPN,Sony Group Corporation,3600,220.0,925.0,1958-12-01
1,9818,01W,2000-10-03,SONY GROUP CORPORATION,909871353.0,10690.0,1.0,NaN,NaN,1.125595,264,JP3435000009,JPN,JPN,Sony Group Corporation,3600,220.0,925.0,1958-12-01
2,9818,01W,2000-10-04,SONY GROUP CORPORATION,909871353.0,10760.0,1.0,NaN,NaN,1.125595,264,JP3435000009,JPN,JPN,Sony Group Corporation,3600,220.0,925.0,1958-12-01
3,9818,01W,2000-10-05,SONY GROUP CORPORATION,909871353.0,10650.0,1.0,NaN,NaN,1.125595,264,JP3435000009,JPN,JPN,Sony Group Corporation,3600,220.0,925.0,1958-12-01
4,9818,01W,2000-10-06,SONY GROUP CORPORATION,909871353.0,10740.0,1.0,NaN,NaN,1.125595,264,JP3435000009,JPN,JPN,Sony Group Corporation,3600,220.0,925.0,1958-12-01

In [23]:
stock_prices_df.describe()

,gvkey,cshoc,prccd,qunit,divrc,divrcgross,trfd,exchg,sic,spcindcd,spcseccd
count,168059.000000,1.669600e+05,1.680460e+05,168046.0,2.0,2.0,168050.000000,168059.000000,168059.000000,84567.000000,84567.000000
mean,225787.524834,1.937760e+08,6.982840e+03,1.0,20.0,20.0,1.471315,251.036065,6393.309671,262.998936,943.373514
std,87450.398360,3.240419e+08,4.029257e+04,0.0,0.0,0.0,2.091292,47.395609,1651.247520,104.057524,17.759947
min,9818.000000,8.908000e+03,1.000000e-02,1.0,20.0,20.0,1.000000,132.000000,2700.000000,185.000000,925.000000
25%,204009.000000,1.426084e+07,1.310200e+01,1.0,20.0,20.0,1.012321,256.000000,3990.000000,185.000000,925.000000
50%,239418.000000,8.629141e+07,8.892000e+01,1.0,20.0,20.0,1.119108,264.000000,7372.000000,220.000000,940.000000
75%,284858.000000,1.435000e+08,2.300000e+03,1.0,20.0,20.0,1.327325,276.000000,7372.000000,355.000000,940.000000
max,351615.000000,1.392285e+09,1.180000e+06,1.0,20.0,20.0,16.672809,349.000000,7372.000000,475.000000,976.000000

In [24]:
# Check how the number of days of data for five stocks with the least amount of data
stock_prices_df['isin'].value_counts().tail()
tail = stock_prices_df['isin'].value_counts().tail()

# Get the isin of those five companies with the least data
tail_isin = tail.index

In [31]:
# Get names of invovled companies.
company_names = stock_prices_df.conm.unique()
company_names

array(['SONY GROUP CORPORATION', 'NINTENDO CO LTD',
       'KONAMI GROUP CORPORATION', 'CAPCOM CO LTD',
       'BANDAI NAMCO HOLDINGS INC', 'KOEI TECMO HOLDINGS CO LTD',
       'UBI SOFT ENTERTAINMENT SA', 'SQUARE ENIX HLDGS CO LTD',
       'KADOKAWA CORPORATION', 'SEGA SAMMY HLDGS INC', 'STARBREEZE AB',
       'DIGITAL BROS SPA', 'CD PROJEKT SA', "YUKE'S CO LTD",
       'MARVELOUS INC', 'NIHON FALCOM CORP', 'FUNCOM SE', 'NEOWIZ',
       'CI GAMES SE', '11 BIT STUDIOS SA', 'BLOOBER TEAM SA',
       'FRONTIER DEVELOPMENTS PLC', 'FOCUS ENTERTAINMENT SOCIETE',
       'FURYU CORP', 'PARADOX INTERACTIVE AB', 'FOREVER ENTERTAINMENT SA',
       'PLAYWAY SA', 'ARTIFEX MUNDI SA', 'REMEDY', "DON'T NOD ENTR SA",
       'TEAM17 GROUP PLC', 'ZORDIX AB', 'NACON SA', 'GAMES OPERATORS SA',
       'ALL IN GAMES SA', 'THUNDERFUL GROUP AB', 'KRAFTO INC',
       'DEVOLVER DIGITAL INC', 'BIG CHEESE STUDIO SPOLKA'], dtype=object)

In [30]:
# How many unique company names
company_names.shape

(39,)

Only 39

In [ ]:
# Get isin of involved companies.