In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Import stock prices of involved companies
stock_prices_df = pd.read_csv('/Users/connor.stevens/Downloads/stock_prices.csv')
stock_prices_df.head()

,gvkey,iid,datadate,conm,cshoc,prccd,qunit,divrc,divrcgross,trfd,exchg,isin,fic,loc,conml,sic,spcindcd,spcseccd,ipodate
0,9818,01W,2000-10-02,SONY GROUP CORPORATION,909871353.0,10800.0,1.0,NaN,NaN,1.125595,264,JP3435000009,JPN,JPN,Sony Group Corporation,3600,220.0,925.0,1958-12-01
1,9818,01W,2000-10-03,SONY GROUP CORPORATION,909871353.0,10690.0,1.0,NaN,NaN,1.125595,264,JP3435000009,JPN,JPN,Sony Group Corporation,3600,220.0,925.0,1958-12-01
2,9818,01W,2000-10-04,SONY GROUP CORPORATION,909871353.0,10760.0,1.0,NaN,NaN,1.125595,264,JP3435000009,JPN,JPN,Sony Group Corporation,3600,220.0,925.0,1958-12-01
3,9818,01W,2000-10-05,SONY GROUP CORPORATION,909871353.0,10650.0,1.0,NaN,NaN,1.125595,264,JP3435000009,JPN,JPN,Sony Group Corporation,3600,220.0,925.0,1958-12-01
4,9818,01W,2000-10-06,SONY GROUP CORPORATION,909871353.0,10740.0,1.0,NaN,NaN,1.125595,264,JP3435000009,JPN,JPN,Sony Group Corporation,3600,220.0,925.0,1958-12-01

In [4]:
stock_prices_df.describe()

,gvkey,cshoc,prccd,qunit,divrc,divrcgross,trfd,exchg,sic,spcindcd,spcseccd
count,168059.000000,1.669600e+05,1.680460e+05,168046.0,2.0,2.0,168050.000000,168059.000000,168059.000000,84567.000000,84567.000000
mean,225787.524834,1.937760e+08,6.982840e+03,1.0,20.0,20.0,1.471315,251.036065,6393.309671,262.998936,943.373514
std,87450.398360,3.240419e+08,4.029257e+04,0.0,0.0,0.0,2.091292,47.395609,1651.247520,104.057524,17.759947
min,9818.000000,8.908000e+03,1.000000e-02,1.0,20.0,20.0,1.000000,132.000000,2700.000000,185.000000,925.000000
25%,204009.000000,1.426084e+07,1.310200e+01,1.0,20.0,20.0,1.012321,256.000000,3990.000000,185.000000,925.000000
50%,239418.000000,8.629141e+07,8.892000e+01,1.0,20.0,20.0,1.119108,264.000000,7372.000000,220.000000,940.000000
75%,284858.000000,1.435000e+08,2.300000e+03,1.0,20.0,20.0,1.327325,276.000000,7372.000000,355.000000,940.000000
max,351615.000000,1.392285e+09,1.180000e+06,1.0,20.0,20.0,16.672809,349.000000,7372.000000,475.000000,976.000000

In [5]:
# Check how the number of days of data for five stocks with the least amount of data
stock_prices_df['isin'].value_counts().tail()
tail = stock_prices_df['isin'].value_counts().tail()

# Get the isin of those five companies with the least data
tail_isin = tail.index

In [6]:
# Get names of invovled companies.
company_names = stock_prices_df.conm.unique()
company_names

array(['SONY GROUP CORPORATION', 'NINTENDO CO LTD',
       'KONAMI GROUP CORPORATION', 'CAPCOM CO LTD',
       'BANDAI NAMCO HOLDINGS INC', 'KOEI TECMO HOLDINGS CO LTD',
       'UBI SOFT ENTERTAINMENT SA', 'SQUARE ENIX HLDGS CO LTD',
       'KADOKAWA CORPORATION', 'SEGA SAMMY HLDGS INC', 'STARBREEZE AB',
       'DIGITAL BROS SPA', 'CD PROJEKT SA', "YUKE'S CO LTD",
       'MARVELOUS INC', 'NIHON FALCOM CORP', 'FUNCOM SE', 'NEOWIZ',
       'CI GAMES SE', '11 BIT STUDIOS SA', 'BLOOBER TEAM SA',
       'FRONTIER DEVELOPMENTS PLC', 'FOCUS ENTERTAINMENT SOCIETE',
       'FURYU CORP', 'PARADOX INTERACTIVE AB', 'FOREVER ENTERTAINMENT SA',
       'PLAYWAY SA', 'ARTIFEX MUNDI SA', 'REMEDY', "DON'T NOD ENTR SA",
       'TEAM17 GROUP PLC', 'ZORDIX AB', 'NACON SA', 'GAMES OPERATORS SA',
       'ALL IN GAMES SA', 'THUNDERFUL GROUP AB', 'KRAFTO INC',
       'DEVOLVER DIGITAL INC', 'BIG CHEESE STUDIO SPOLKA'], dtype=object)

In [7]:
# Get names of invovled companies.
company_names = stock_prices_df.conml.unique()
company_names

array(['Sony Group Corporation', 'Nintendo Co Ltd',
       'Konami Group Corporation', 'Capcom Co Ltd',
       'BANDAI NAMCO Holdings Inc', 'Koei Tecmo Holdings Co Ltd',
       'UBI Soft Entertainment SA', 'Square Enix Hldgs Co Ltd',
       'Kadokawa Corporation', 'Sega Sammy Holdings Inc', 'Starbreeze AB',
       'Digital Bros SPA', 'CD Projekt SA', "Yuke'S Co Ltd",
       'Marvelous Inc', 'Nihon Falcom Corp', 'Funcom SE', 'NEOWIZ',
       'CI Games SE', '11 Bit Studios SA', 'Bloober Team SA',
       'Frontier Developments Plc', 'Focus Entertainment Societe anonyme',
       'Furyu Corp', 'Paradox Interactive AB', 'Forever Entertainment SA',
       'PlayWay SA', 'Artifex Mundi SA', 'Remedy Entertainment Oyj',
       "Don't Nod Entertainment SA", 'Team17 Group PLC', 'Zordix AB',
       'Nacon SA', 'Games Operators SA', 'All In Games SA',
       'Thunderful Group AB', 'KRAFTON Inc', 'Devolver Digital Inc',
       'Big Cheese Studio Spolka Akcyjna'], dtype=object)

In [30]:
# How many unique company names
company_names.shape

(39,)

Only 39

In [8]:
global_df = pd.read_csv('global_data.csv')

In [9]:
us_isin_codes = [
    'US2855121099',
    'US8740541094',
    'US00507V1098',
    'US5949181045',
    'USU0858L1036',
    'USU8884H1033'
]

In [11]:
for isin in us_isin_codes:
    print(isin in global_df['isin'])

False
False
False
False
False
False

In [17]:
global_df['isin'].unique()

array(['JP3435000009', nan, 'BE0004272044', 'ARDEUT112984',
       'BRSNECBDR002', 'JP3756600007', 'JP3300200007', 'US50046R1014',
       'US50046R2004', 'JP3218900003', 'US13916V1070', 'JP3651200002',
       'JP3778630008', 'JP3283460008', 'FR0000054470', 'JP3164630000',
       'JP3214350005', 'JP3419050004', 'US8157941027', 'SE0005992831',
       'SE0007158928', 'IT0001469995', 'PLOPTTC00011', 'JP3944350002',
       'JP3860230006', 'JP3748520008', 'NO0010887029', 'KR7095660007',
       'JP3687000004', 'PLCTINT00026', 'PLCTINT00018', 'PL11BTS00015',
       'PLBLOBR00014', 'GB00BBT32N39', 'FR0012419307', 'JP3826770004',
       'SE0008294953', 'PLFRENT00014', 'PLPLAYW00015', 'PLARTFX00011',
       'FI4000251897', 'FR0013331212', 'GB00BYVX2X20', 'SE0011725506',
       'FR0013482791', 'PLGMSOP00019', 'PLSNTFG00017', 'SE0015195888',
       'KR7259960003', 'USU0858L1036', 'PLA340200023', 'PLA340200015'],
      dtype=object)

In [15]:
us_isin = [
    'US50046R2004',
    'USU0858L1036',
    'US13916V1070',
    'US8157941027',
    'US50046R1014'
]

In [21]:
print(global_df[['conm', 'isin']].value_counts())

conm                         isin
UBI SOFT ENTERTAINMENT SA    FR0000054470    5840
CAPCOM CO LTD                JP3218900003    5758
SONY GROUP CORPORATION       JP3435000009    5757
KONAMI GROUP CORPORATION     JP3300200007    5757
NINTENDO CO LTD              JP3756600007    5757
SEGA SAMMY HLDGS INC         JP3419050004    5755
SQUARE ENIX HLDGS CO LTD     JP3164630000    5754
KOEI TECMO HOLDINGS CO LTD   JP3283460008    5754
KADOKAWA CORPORATION         JP3214350005    5754
DIGITAL BROS SPA             IT0001469995    5709
STARBREEZE AB                SE0005992831    5685
CD PROJEKT SA                PLOPTTC00011    5415
YUKE'S CO LTD                JP3944350002    5380
MARVELOUS INC                JP3860230006    5219
NIHON FALCOM CORP            JP3748520008    4974
BANDAI NAMCO HOLDINGS INC    JP3778630008    4531
NEOWIZ                       KR7095660007    4126
SONY GROUP CORPORATION       ARDEUT112984    4108
NIPPON ICHI SOFTWARE INC     JP3687000004    4108
CI GAMES SE                  PLCTINT00018    3962
FUNCOM SE                    NO0010887029    3759
FOREVER ENTERTAINMENT SA     PLFRENT00014    3200
11 BIT STUDIOS SA            PL11BTS00015    3155
BLOOBER TEAM SA              PLBLOBR00014    3090
FRONTIER DEVELOPMENTS PLC    GB00BBT32N39    2555
KONAMI GROUP CORPORATION     US50046R1014    2509
FOCUS ENTERTAINMENT SOCIETE  FR0012419307    2140
STARBREEZE AB                SE0007158928    2056
FURYU CORP                   JP3826770004    1921
PARADOX INTERACTIVE AB       SE0008294953    1804
PLAYWAY SA                   PLPLAYW00015    1703
ARTIFEX MUNDI SA             PLARTFX00011    1682
REMEDY                       FI4000251897    1545
TEAM17 GROUP PLC             GB00BYVX2X20    1288
DON'T NOD ENTR SA            FR0013331212    1288
BANDAI NAMCO HOLDINGS INC    JP3651200002    1224
ZORDIX AB                    SE0011725506    1156
NACON SA                     FR0013482791     823
GAMES OPERATORS SA           PLGMSOP00019     791
ALL IN GAMES SA              PLSNTFG00017     755
SONY GROUP CORPORATION       BE0004272044     701
THUNDERFUL GROUP AB          SE0015195888     625
KRAFTO INC                   KR7259960003     449
DEVOLVER DIGITAL INC         USU0858L1036     387
BIG CHEESE STUDIO SPOLKA     PLA340200015     364
SEGA SAMMY HLDGS INC         US8157941027     264
CAPCOM CO LTD                US13916V1070     264
KONAMI GROUP CORPORATION     US50046R2004     263
SONY GROUP CORPORATION       BRSNECBDR002     170
BIG CHEESE STUDIO SPOLKA     PLA340200023      18
CI GAMES SE                  PLCTINT00026      13
Name: count, dtype: int64